* {
  align-items: center;
  text-align: center;
}

header {
  font-weight: bold;
  text-align: center;
  font-size:x-large;

  border:solid rgb(102, 163, 191) 3px;
  border-radius: 20px;

  width:fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navigation-bar{

  margin: 20px;
  align-items: center;
  text-decoration: none;
  color: black;
}

.article-title{
  text-align:left;
  padding:20px;
  margin: 1px;
}

#single-article-title {
  text-align: center;
  font-family: Raleway;

}

#single-article-body {
  text-align: justify;
  font-family: Raleway;
  padding: 20px;
  margin: auto;
}
