* {
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  place-items: center;
  margin-top: 0%;
  padding: 5%;
}

header {
  font-weight: bold;
  text-align: center;
  font-size:x-large;
  border:solid rgb(102, 163, 191) 3px;
  border-radius: 20px;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.nav-link {
  margin: 20px;
  align-items: center;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  margin: 20px;
  align-items: center;
  text-decoration: none;
  color: black;
}

.article-title{
  text-align:left;
  padding:20px;
  margin: 1px;
}

.single-article-title {
  text-align: center;
  font-family: Raleway;
}

.single-article-body {
  text-align: justify;
  font-family: Raleway;
  padding: 20px;
  margin: auto;
  font-size:larger;
}

.single-article-author {
  font-family: Raleway;
  padding: 20px;
  margin: auto;
  font-size:larger;
}

.single-article-votes {
  font-family: Raleway;
  padding: 20px;
  margin: auto;
  font-size: medium;
  margin-left: -750px;
}

.article-card {
  align-items: center;
  font-weight: bold;
  padding: 1px;
  cursor: pointer;
}

.article-list {
  align-items: center;
}

.art-card-link {
  text-decoration: none;
  color: black;
  font-size: larger;
  padding: 1px;
}

.art-card-link:hover {
  text-shadow: 1px 2px 2px #AA99FF;
  color: black;
  font-size: larger;
  padding: 1px;
}

.loading-div {
  text-decoration: none;
  color: black;
  font-size: large;
  padding: 1px;
}

.loading-gif{
  height: 300px;
  width: 250px;
}

.comment-div {
  border:solid rgb(102, 163, 191) 3px;
  border-radius: 20px;
  margin: 3px;
  padding: 1px;
  background-color: solid rgb(144, 203, 230) 3px;
}

.p-author {
  font-size:medium;
  padding: 1px;
  font-weight: bold;
}

.p-body {
  font-size: small;
  padding: 1px;
}

.big-comments{
  font-size:larger;
  padding: 1px;
  font-weight: bold;
  font-family: Raleway;
}

.plus-button {
  color:green;
  height: 30px;
  width: 30px;
  transition: 0.5s;
  margin-left: -735px;
}

.minus-button {
  color: red;
  height: 30px;
  width: 30px;
  transition: 0.5s;
  margin-bottom: 20px;
}

.plus-button:hover{
  height: 40px;
  width: 40px;
}

.minus-button:hover {
  height: 40px;
  width: 40px;
}

.comment-form {
  padding:10px;
  margin: 10px;
  border:solid rgb(195, 133, 216) 3px;
  border-radius: 20px;
}

.comment-username {
  margin: 1px;
  padding: 1px;
  font-weight: bold;
}

.comment-comment {
  margin: 1px;
  padding: 1px;
  font-weight: bold;
}

.username-input {
  height: auto;
  width: fit-content;
  margin: 5px;
}

.comment-input {
  height: 100px;
  width: auto;
  margin: 5px;
}

.add-comment-button {
  height: 30px;
  width: 70px;
  transition: 0.5s;
}

.add-comment-button:hover {
  height: 40px;
  width: 80px;
}

.form-title {
  font-size:larger;
  padding: 1px;
  font-weight: bold;
  font-family: Raleway;
}

.article-img {
  width: 200px;
  height: 200px;
}

.error-msg {
  color: red;
  font-weight: bold;
  font-size: large;
}

.click-here{
  padding:10px;
  margin: 10px;
  border:solid rgb(195, 133, 216) 3px;
  border-radius: 20px;
  font-size: medium;
  font-family: Raleway;
  font-weight: bold;
}

.nav-link1 {
  color: rgb(197, 153, 212) 3px;
  text-decoration: none;
}

.login-img{
  width: 200px;
  height: 200px;
}

.login-form{
  border:solid rgb(102, 163, 191) 3px;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.username-login{
  font-size: larger;
  font-family: Raleway;
  font-weight: bold;
}

.login-input{
  margin: 5px;;
}

.login-button{
  height: 23px;
  width: 60px;
  transition: 0.5s;
}

.login-button:hover {
  height: 33px;
  width: 70px;
}

.home-ptag{
  font-size:x-large;
  font-family: Raleway;
}